*{
	box-sizing: border-box;
	position: relative;
}
.outter{
	height: 300px;
	border: 1px solid #000;
}
.box{
	height: 200px;
	width: 200px;
	background-color: #68a2ff;
}
.box--block{
	display: block;
	/*一定要寬度*/
	margin: 0 auto;
}
.outter2{
	text-align: center;
}
.outter2 .box{
	display: inline-block;
}
.outter3{
	text-align: center;
}
.outter3 .box{
	display: inline;
}
.outter4{
	display: flex;
	/*justify-content: space-around;
	justify-content:space-between;
	justify-content:flex-start;
	justify-content:flex-end;*/
	justify-content: center;
	/*align-items: center;*/
}
.outter4 .box{
	/*margin: auto;*/
	align-self: center;
}
.outter5{
	position: relative;
}
.outter5 .box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
}
.box5{
	text-align: center;
}
.box5 p{
	margin: 0;
	line-height: 200px;
}